body {
  font-size: 20px;
  /*background: rgb(122, 5, 31);*/
  background : .myImage {
   background-image: .myImage {
      background-image: url("diagonales_decalees/diagonales_decalees_@2X.jpg");
    }
  }
  
}

img
{
  border-radius:10px;
  width: 200px;
  height: 300px;
}

.myImage {
  background-image: url("20171122_183627.jpg");
}

.myImage {
  background-image: url("ipod%20pix%20120.JPG");
}
.myImage{}
a {
  text-decoration: none;
  color: #aee811;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 20px;
}
/*
h1 > a
{
  border-right: 2px solid black;
}*/


.nav
{
  font-size: 32px;
  list-style: none;
  overflow: auto;
}

.nav li
{
  float: left;
  margin-left: 10px;
}
li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #433b3b;
}


body{
  display:  flex;
  flex-direction:  column;
  min-height: 100vh;
  margin:  0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;

}
.nav {

  order: -1;
  padding: 1em;
  background: rgb(149, 194, 215);
}
.footer {
  padding: 1em;
  background: rgb(27, 83, 110);
  text-align: center;
  #p1{color: blue;border: solid }

}
.wrapper { display: flex;
  flex-direction: column;
  flex: 1 0 auto;

}
.main {
  padding: 1em;
  background: rgb(187, 179, 135);
  text-align: center;
}
.aside {
  padding: 1em;
  text-align: center;
  background: rgb(224, 220, 199);
}

.video{
  height: 50vh;
  width: auto;
  margin: 5vh 5vw;
}

@media (max-width: 30em){
  .main {
    flex: 1 0 auto;}
}



@media (min-width: 30em){
  .nav{
    display: block;
  }
  .wrapper {flex-direction: row;}
  .main {flex: 1 2 auto;}
  .aside {width: 20%;}
}




*{
  margin: 0;
  padding: 0;
}

nav {
  margin:50px;
}
ul{
  overflow: auto;
  list-style-type: none;
}

li{
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
li:last-child{
  border-right: none;
}
li a{
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 2vw;
}

.col{
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.test{
  border-left: 4px solid blue;
  border-right: 4px solid blue;

}

#map{
  min-height: 20vh;
}
