* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 
 .container:after {
     clear: both;
 }
 
 .container > div {
     min-height: 200px;
     float: left;
     width: 50%;
 }
 
 .left {
     background: #F1F1F1;
 
 }
 
 .right {
    background: #F1F1F1;
    border-left: 1px solid #000000!important;
 }
 
 @media all and (max-width: 500px) {
     .container > div {
         float: none;
         width: 100%;
     }
 }